*{
    margin: 0px;
    padding: 0px;
}
.navbar-container{
    display: flex;
    justify-content:space-around; 
    align-items: center;
    background-color: rgb(27, 169, 169);
}

.logo{
    width: 90px;
}

.menues-container{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    color: white;
}

/* banner starts */
.banner-container{
    display: flex;
    width: 80%;
    margin: auto !important;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.banner-img{
    width: 100%;
}

.title{
    font-size: 76px;
    font-weight: bold;
    color: turquoise;
    text-align: center;
}

.description{
    font-size: 22px;
}

button{
    padding: 15px 25px;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
}
p{
    line-height: 30px;
    font-size: 19px;
    padding-top: 10px;
}
.app-btn{
    background-color: rgb(16, 151, 151);
}

.doc-btn{
    background-color: aqua;
}


/* service cards */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 70px;
}
.service-card{
    width: 300px;
    height: 350px;
    box-shadow: 8px 8px 16px gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
   
}

.service-img{
    width: 150px;
}


/* contact */

.contact-container{
    text-align: center;
    margin-top: 100px;
}
.input-box{
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
}

.text-area{
    padding: 35px 50px;
}

.submit-btn{
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(16, 151, 151);
}